::-webkit-input-placeholder { color: #555!important; }
input::-moz-placeholder     { color: #555!important; }
input:-moz-placeholder      { color: #555!important; }
input:-ms-input-placeholder { color: #555!important; }

.navbar-brand, table th {
    font-family: "Roboto";
}

.footer .container {
    width: 100%;
    text-align: center;
}

.login-panel {
    margin: 0 auto;
    float: none;
    max-width: 400px;
}

.footer p {
    margin: 0;
    font-family: Roboto;
    font-weight: 300;
}

.footer p:first-child {
    padding-top: 8px;
}

.pagination {
    margin-top: 0;
}

.pagination-col {
    text-align: right;
}

.page-header {
    text-transform: uppercase;
    font-family: "Roboto";
    font-weight: 300;
}

.bold {
    font-weight: bold;
}

.fa:before, .glyphicon:before {
    padding-right: 5px;
}

pre {
    border: none;
    background: none;
    font-family: "Roboto";
}

.action-link {
    display: inline-block;
    width: 19px;
}

.orders-table .col1 {
    width: 10%;
}

.orders-table .col2 {
    width: 20%;
}

.orders-table .col3 {
    width: 10%;
}

.orders-table .col4 {
    width: 25%;
}

.orders-table .col5 {
    width: 25%;
}

.orders-table .col6 {
    width: 7%;
    text-align: center;
}

.orders-table .action-link:before {
    padding-right: 0;
}

.orders-table tr td:nth-child(6),
.orders-table tr td:nth-child(3) {
    text-align: center;
}

.orders-table span {
    line-height: 25px;
}

abbr {
    padding-top: 5px;
}

.sorting, .sorting_asc, .sorting_desc {
    cursor: pointer;
}

.btn-order-new {
    text-transform: uppercase;
    font-weight: bold;
    font-family: Roboto;
}

@media (max-width: 767px) {
  .btn-order-new {
    font-size: 11px !important;
  }
}

.orders-table a {
    text-decoration: underline;
    color: black;
    font-family: "Roboto";
    font-weight: normal;
}

.orders-table a:hover {
    text-decoration: none;
}

.orders-table .action-link {
    text-decoration: none!important;
}

.pagination a {
    font-family: "Roboto";
}

.large-text {
    font-family: "Roboto";
    padding-left: 3px;
}

.action-link span:before {
    font-size: 20px;
}

.table-price {
    display: block;
    float: right;
}

* {
    font-family: "Roboto";
}

li.active {
    background-color: #eee;
}

.form-group > div.col-sm-2 {
    display: none;
}

h1 {
    font-size: 28px;
}

#order_item_applicant .form-group:nth-child(3) {
    width: 63%;
    float: left;
}

#order_item_applicant .form-group:nth-child(3) > div {
    width: 100%;
}

#order_item_applicant .form-group:nth-child(4) {
    float: left;
    width: 25%;
    margin-left: 0;
}

#order_item_applicant .form-group:nth-child(5) {
    float: left;
    width: 22%;
    margin-left: 0;
}

#order_item_applicant .form-group:nth-child(5) > div {
    width: 100%;
    padding-left: 10px;
}

#order_item_applicant {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.order-right-panel .form-group {
    margin: 0 0 15px 0;
}

#order_item_text, #order_item_result {
    min-height: 160px;
}

#order_item_price {
    z-index: 1;
}

.text-fields-wrapper .form-group {
    margin-left: 0!important;
    margin-right: 0!important;
}

#order_item_save {
    float: right;
    widtH: 18em;
}

.alert-danger {
    padding-top: 10px;
    padding-bottom: 10px;
}

.alert-danger ul {
    padding-left: 0;
}

.help-block {
    text-align: left;
}

.ajax-notification {
    padding: 15px;
    text-transform: uppercase;
    text-align: center;
    display: none;
}

.order-delete {
    cursor: pointer;
}

#orders-filter-form input[type='checkbox'] {
    display: none!important;
}

.title-element a {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}

.title-element {
    background-color: #eee;
}

.sidebar-search .input-group {
    width: 100%;
}

.sidebar-search input[type=submit] {
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
}

.ui-datepicker {
    z-index: 1000 !important;
}

#attachments-fields-list {
    list-style: none;
}

#attachments-fields-list li {
    display: inline-block;
    width: 250px;
    height: 280px;
}

#attachments-fields-list img {
    max-width: 250px;
    max-height: 250px;
    margin-bottom: 15px;
}

#add-another-file {
    display: block;
    clear: both;
}

#order_item_save {
    font-weight: bold;
    text-transform: uppercase;
}

.checked-value {
    font-weight: bold;
    color: red;
}
