{% extends 'bootstrap_3_horizontal_layout.html.twig' %}

{% block datetime_widget %}
{% spaceless %}
    {% if widget == 'single_text' %}
        {{ block('form_widget_simple') }}
    {% else %}
        <div {{ block('widget_container_attributes') }}>

        </div>
    {% endif %}
{% endspaceless %}
{% endblock datetime_widget %}

{% block date_widget %}
{% spaceless %}
    {% if widget == 'single_text' %}
        {{ block('form_widget_simple') }}
    {% else %}
        {{ date_pattern|replace({
            '{{ year }}':  form_widget(form.year),
            '{{ month }}': form_widget(form.month),
            '{{ day }}':   form_widget(form.day),
        })|raw }}
    {% endif %}
{% endspaceless %}
{% endblock date_widget %}

{% block time_widget %}
{% spaceless %}
    {% if widget == 'single_text' %}
        {{ block('field_widget') }}
    {% else %}
        {{ form_widget(form.hour, { 'attr': { 'size': '1' } }) }}:{{ form_widget(form.minute, { 'attr': { 'size': '1' } }) }}{% if with_seconds %}:{{ form_widget(form.second, { 'attr': { 'size': '1' } }) }}{% endif %}
    {% endif %}
{% endspaceless %}
{% endblock time_widget %}

{% block form_label -%}
{% spaceless %}
{% endspaceless %}
{%- endblock form_label %}

{% block form_row -%}
    <div class="form-group{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}">

        {% if label is same as(false) %}
            <div>
                {{- form_errors(form) -}}
                {{- form_widget(form) -}}
            </div>
        {% else %}
            <div class="{{ block('form_group_class') }}">
                {{- form_errors(form) -}}
                {{- form_widget(form) -}}
            </div>
        {% endif %}

{##}
    </div>
{%- endblock form_row %}



{% block submit_row -%}
{% spaceless %}
    <div class="form-group">
        <div class=" {{ block('form_group_class') }}">
            {{ form_widget(form, {'attr': {'class': 'btn-md btn-success btn-block'}}) }}
        </div>
    </div>
{% endspaceless %}
{% endblock submit_row %}

{% block form_group_class -%}
col-sm-12
{%- endblock form_group_class %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
        <div class="alert alert-danger">
            <ul style="list-style: none;">
            {% for error in errors %}
                <li>{{ error.message }}</li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}
