<form id="orders-filter-form" action="/orders/">
<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li class="title-element">
                <a href="#" onclick="return false;">Фильтр</a>
            </li>
            <li {% if request_data['category_id'] is defined %}class="active"{% endif %}>
                <a href="#">
                    <i class="fa fa-bar-chart-o fa-fw"></i>
                    Категория
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    {% for cat in categories %}
                    {% if cat.parentId == 0 %}
                    <li>
                        <a href="#"
                        {% if request_data['category_id'] is defined and cat.id in request_data['category_id'] %}
                        class="checked-value"
                        {% endif %}
                        >{{ cat.name }} {% if cat.childrenCats|length > 0 %}<span class="fa arrow"></span>{% endif %} <input type="checkbox" name="category_id[]" value="{{ cat.id }}"
                        {% if request_data['category_id'] is defined and cat.id in request_data['category_id'] %}
                        checked="checked"
                        {% endif %}
                         /> </a>
                        {% if cat.childrenCats|length > 0 %}
                        <ul class="nav nav-third-level">
                        {% for cat2 in categories %}
                        {% if cat2.parentId == cat.id %}
                            <li>
                                <a href="#"
                                {% if request_data['category_id'] is defined and cat2.id in request_data['category_id'] %}
                                class="checked-value"
                                {% endif %}
                                >{{ cat2.name }} <input type="checkbox" name="category_id[]" value="{{ cat2.id }}"
                                {% if request_data['category_id'] is defined and cat2.id in request_data['category_id'] %}
                                checked="checked"
                                {% endif %}
                                 /></a>
                            </li>
                        {% endif %}
                        {% endfor %}
                        </ul>
                        {% endif %}
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </li>
            <li {% if request_data['status_id'] is defined %}class="active"{% endif %}>
                <a href="#">
                    <i class="fa fa-bar-chart-o fa-fw"></i>
                    Статус
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    {% for status in statuses %}
                    <li>
                        <a href="#"
                        {% if request_data['status_id'] is defined and status.id in request_data['status_id'] %}
                        class="checked-value"
                        {% endif %}
                        >
                            {{ status.name }}
                            <input type="checkbox" name="status_id[]" value="{{ status.id }}"
                            {% if request_data['status_id'] is defined and status.id in request_data['status_id'] %}
                            checked="checked"
                            {% endif %}
                             />
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </li>
            <li class="sidebar-search">
                <div class="input-group">
                    <input {% if request_data['date_from'] is defined %}value="{{ request_data['date_from'] }}"{% endif %} type="text" name="date_from" class="data-input form-control" placeholder="Дата приема (от)">
                </div>
                <div class="input-group" style="margin-top: 15px;">
                    <input {% if request_data['date_to'] is defined %}value="{{ request_data['date_to'] }}"{% endif %} type="text" name="date_to" class="data-input form-control" placeholder="Дата приема (до)">
                </div>
            </li>
            <li class="sidebar-search">
                <div class="input-group">
                    На странице:
                </div>
                <div class="input-group" style="margin-top: 15px;">
                    <select class="selectpicker" name="on_page">
                        <option {% if request_data['on_page'] is defined and request_data['on_page'] == 10 %}selected="selected"{% endif %}>10</option>
                        <option {% if request_data['on_page'] is defined and request_data['on_page'] == 25 %}selected="selected"{% endif %}>25</option>
                        <option {% if (request_data['on_page'] is defined and request_data['on_page'] == 50) or request_data['on_page'] is not defined %}selected="selected"{% endif %}>50</option>
                        <option {% if request_data['on_page'] is defined and request_data['on_page'] == 100 %}selected="selected"{% endif %}>100</option>
                    </select>
                </div>
            </li>
            <li class="sidebar-search">
                <div class="input-group">
                    <input type="submit" name="apply" class="btn btn-info" value="Применить">
                </div>
            </li>
        </ul>
    </div>
</div>
</form>
