<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}{% endblock %} / {{site_name}}</title>

    <meta name=viewport content="width=device-width,initial-scale=1">

    <!-- Roboto font from Google -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300&subset=latin,cyrillic,cyrillic-ext' rel='stylesheet' type='text/css'>

    <link href="{{ asset('assets/vendor/jquery-ui/themes/hot-sneaks/jquery-ui.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/vendor/jqueryui-timepicker-addon/dist/jquery-ui-timepicker-addon.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/vendor/bootstrap-select/dist/css/bootstrap-select.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/vendor/metisMenu/dist/metisMenu.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/vendor/startbootstrap-sb-admin-2/dist/css/timeline.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/vendor/startbootstrap-sb-admin-2/dist/css/sb-admin-2.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/vendor/morrisjs/morris.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/vendor/form.validation/dist/css/formValidation.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/sticky-footer.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">
    {% block stylesheets %}{% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
    <div id="wrapper">
        {{ include('header.html.twig') }}
        {% block body %}{% endblock %}
    </div>
    {{ include('footer.html.twig') }}

    <script src="{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/jquery-ui/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/jquery-ui/ui/i18n/datepicker-ru.js') }}"></script>
    <script src="{{ asset('assets/vendor/jqueryui-timepicker-addon/dist/jquery-ui-timepicker-addon.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/jqueryui-timepicker-addon/dist/i18n/jquery-ui-timepicker-ru.js') }}"></script>
    <script src="{{ asset('assets/vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/bootstrap-select/dist/js/bootstrap-select.min.js') }}"></script>

    <script src="{{ asset('assets/vendor/form.validation/dist/js/formValidation.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/form.validation/dist/js/language/ru_RU.js') }}"></script>
    <script src="{{ asset('assets/vendor/form.validation/dist/js/framework/bootstrap.min.js') }}"></script>

    <script src="{{ asset('assets/vendor/metisMenu/dist/metisMenu.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/raphael/raphael-min.js') }}"></script>
    <script src="{{ asset('assets/vendor/morrisjs/morris.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/morrisjs/morris.js') }}"></script>
    <script src="{{ asset('assets/vendor/startbootstrap-sb-admin-2/dist/js/sb-admin-2.js') }}"></script>
    <script src="{{ asset('assets/js/script.js') }}"></script>
    {% block javascripts %}{% endblock %}
</body>
</html>
