<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">{{ site_name }}</a>
    </div>
    {% if show_top_menu is defined and show_top_menu %}
    <ul class="nav navbar-top-links navbar-right">
        <li{% if app.request.attributes.get('_route') in ['homepage', 'orders_list_main', 'orders_list_with_page'] %} class="active"{% endif %}>
            <a href="/orders"><i class="fa fa-archive"></i>Заявки</a>
        </li>
        <li><a href="#">ЕРЦ</a></li>
        <li><a href="#">Должники</a></li>
        <li><a href="#">Дома</a></li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i>
                <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li>
                    <a href="/logout"><i class="fa fa-sign-out fa-fw"></i>Выйти</a>
                </li>
            </ul>
        </li>
    </ul>
    {% endif %}
    {% if show_sidebar is defined and filter_data is defined and show_sidebar %}
    {{ include('AppBundle:templates:orders_filter_theme.html.twig', filter_data) }}
    {% endif %}
</nav>
