{% extends 'base.html.twig' %}

{% block title %}Список заявок{% if current_page > 1 %} &mdash; страница {{ current_page }}{% endif %}{% endblock %}

{% block body %}
        <div id="page-wrapper" style="min-height: 131px;">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Заявки</h1>
<div class="row">
    <div class="col-sm-3 col-xs-6">
        <a href="{{ path('orders_new') }}" class="btn-order-new btn btn-success btn-block">Создать заявку</a>
    </div>
    <div class="col-sm-3">

    </div>
    <div class="col-sm-6 col-xs-6 pagination-col">
        <div class="dataTables_paginate paging_simple_numbers">
            <ul class="pagination">
                {% if current_page > 1 %}
                <li class="paginate_button previous"><a href="/orders">&laquo;</a></li>
                <li class="paginate_button previous"><a href="/orders{% if current_page != 2 %}/page-{{ current_page - 1 }}{% endif %}">&larr;</a></li>
                {% endif %}

                {% for i in (current_page - 3)..(current_page + 3) %}
                {% if i > 0 and i <= pages_count %}
                <li class="paginate_button {% if i == current_page %}active{% endif %}" tabindex="0"><a href="/orders{% if i != 1 %}/page-{{ i }}{% endif %}">{{ i }}</a></li>
                {% endif %}
                {% endfor %}

                {% if current_page != pages_count %}
                <li class="paginate_button next"><a href="/orders/page-{{ current_page + 1 }}">&rarr;</a></li>
                <li class="paginate_button next"><a href="/orders/page-{{ pages_count }}">&raquo;</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <p class="bg-success ajax-notification"></p>
    </div>
</div>
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover dataTable orders-table">
                                    <colgroup>
                                        <col class="col1">
                                        <col class="col2">
                                        <col class="col3">
                                        <col class="col4">
                                        <col class="col5">
                                        <col class="col6">
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th class="sorting_desc">#</th>
                                            <th class="sorting">Заявитель</th>
                                            <th class="sorting">Статус</th>
                                            <th class="sorting">Текст</th>
                                            <th class="sorting">Результат</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for order in orders %}
                                            <tr {% if order.status.id == 3 %}class="success"{% endif %}{% if order.status.id == 4 %}class="danger"{% endif %}>
                                                <td>
                                                    <span class="bold">{{ order.id }}</span>
                                                    {% if order.price %}
                                                    <div class="table-price"><span class="fa fa-ruble"></span>{{ order.price }}</div>
                                                    {% endif %}<br/>
                                                    <span class="fa fa-tag">{{ order.category.name }}</span><br/>
                                                    {{ order.accepted|date('d.m.Y H:i') }}<br/>
                                                </td>
                                                <td>
                                                    <address>
                                                        <span class="bold fa fa-user"><a href="">{{ order.applicant.holder }}</a></span><br/>
                                                        {% if order.applicant.street %}
                                                        {{ order.applicant.street }}, д. {{ order.applicant.house }}, кв. {{ order.applicant.appartment }}
                                                        {% endif %}<br/>
                                                        {% if order.applicant.phone %}
                                                        <abbr title="Телефон">Тел.:</abbr>  {{ order.applicant.phone }}
                                                        {% endif %}
                                                    </address>
                                                </td>
                                                <td>
                                                    <span class="{% if order.status.id == 3 %}glyphicon glyphicon-ok-sign{% endif %}"></span>{{ order.status.name }}<br/>
                                                    {% if order.completed %}
                                                    <span style="text-align: center;display: inline-block;">Дата выполнения: {{ order.completed|date('d.m.Y H:i') }}</span>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    <span class="large-text">{{ order.text }}</span>
                                                </td>
                                                <td>
                                                    <span class="large-text">{{ order.result }}</span>
                                                </td>
                                                <td>
                                                    <a href="/orders/edit/{{ order.id }}" class="action-link" title="Редактировать"><span class="glyphicon glyphicon-edit"></span></a>
                                                    <a data-order-href="/orders/delete/{{ order.id }}" class="action-link order-delete" title="Удалить" data-toggle="modal" data-target="#orderDeleteModal"><span class="glyphicon glyphicon-remove-sign"></span></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>

<div class="row">
    <div class="col-sm-6 col-xs-6">
        <div class="dataTables_info"><span class="bold">На странице:</span> с {{ (current_page - 1) * on_page + 1 }} по {{ current_page * on_page }} из {{ count_all }}</div>
    </div>
    <div class="col-sm-6 col-xs-6 pagination-col">
        <div class="dataTables_paginate paging_simple_numbers">
            <ul class="pagination">
                {% if current_page > 1 %}
                <li class="paginate_button previous"><a href="/orders">&laquo;</a></li>
                <li class="paginate_button previous"><a href="/orders{% if current_page != 2 %}/page-{{ current_page - 1 }}{% endif %}">&larr;</a></li>
                {% endif %}

                {% for i in (current_page - 3)..(current_page + 3) %}
                {% if i > 0 and i <= pages_count %}
                <li class="paginate_button {% if i == current_page %}active{% endif %}" tabindex="0"><a href="/orders{% if i != 1 %}/page-{{ i }}{% endif %}">{{ i }}</a></li>
                {% endif %}
                {% endfor %}

                {% if current_page != pages_count %}
                <li class="paginate_button next"><a href="/orders/page-{{ current_page + 1 }}">&rarr;</a></li>
                <li class="paginate_button next"><a href="/orders/page-{{ pages_count }}">&raquo;</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>

                </div>
            </div>
        </div>
        <div class="modal fade" id="orderDeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            <h4 class="modal-title" id="myModalLabel">Подтверждение</h4>
                                        </div>
                                        <div class="modal-body">
                                            Вы действительно хотите удалить эту заявку?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                                            <button type="button" class="btn btn-primary btn-remove-order">Да</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
{% endblock %}
