{% extends 'base.html.twig' %}

{% block title %}Создание заявки{% endblock %}

{% form_theme form 'form/bootstrap_custom_template.html.twig' %}

{% block body %}
        <div {% if show_sidebar is defined and show_sidebar %}id="page-wrapper"{% else %}class="container"{% endif %} style="min-height: 131px;">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">{{ (orderItem.id) ? 'Изменение заявки' : 'Новая заявка' }}</h1>
                    {% if success %}
                        <div class="alert alert-success" role="alert">
                            Заявка успешно сохранена!
                        </div>
                    {% endif %}
                    {{ form_start(form) }}
                    {{ form_errors(form) }}
                    <div class="row">
                <div class="col-lg-8">
                    <div class="panel panel-default" style="height: 319px;">
                        <div class="panel-heading" style="text-align: right; font-weight: bold; text-transform: uppercase;">
                            Заказчик
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            {{ form_row(form.applicant, {label: false}) }}
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="panel panel-default order-right-panel">
                        <div class="panel-heading" style="text-align: right; font-weight: bold; text-transform: uppercase;">
                            Информация
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            {{ form_row(form.accepted, {
                                label: false,
                                required: true,
                                widget: 'single_text',
                                attr: {
                                    placeholder: 'Дата приема *'
                                }
                            }) }}
                            {{ form_row(form.category, {
                                label: false,
                                attr: {
                                    placeholder: 'Категория'
                                }
                            }) }}
                            {{ form_row(form.status, {
                                label: false,
                                attr: {
                                    placeholder: 'Статус'
                                }
                            }) }}
                            {{ form_row(form.completed, {
                                label: false,
                                widget: 'single_text',
                                attr: {
                                    placeholder: 'Дата сдачи'
                                }
                            }) }}
                            {{ form_row(form.price, {
                                label: false,
                                attr: {
                                    placeholder: 'Цена *'
                                },
                                divisor: 100,
                                grouping: true,
                                scale: 0,
                                money_pattern: '{{ widget }} ₽'
                            }) }}
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading" style="text-align: right; font-weight: bold; text-transform: uppercase;">
                        Прикрепленные файлы
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        {# store the prototype on the data-prototype attribute #}
                        <ul id="attachments-fields-list"
                            data-prototype="{{ form_widget(form.attachments.vars.prototype)|e }}">
                        {% for fileField in form.attachments %}
                            <li>
                                {% if (loop.index - 1) < form.attachments|length %}
                                <img src="/{{ orderItem.attachments[loop.index - 1].getWebPath() }}">
                                {% endif %}
                                {{ form_errors(fileField) }}
                                {{ form_widget(fileField) }}
                            </li>
                        {% endfor %}
                        </ul>

    <a href="#" id="add-another-file">Добавить новый файл</a>
                    </div>
                </div>
                </div>
                <div class="col-lg-12 text-fields-wrapper">
                            {{ form_row(form.text, {
                                required: true,
                                label: false,
                                attr: {
                                    placeholder: 'Текст заявки *'
                                }
                            }) }}
                            {{ form_row(form.result, {
                                label: false,
                                required: false,
                                attr: {
                                    placeholder: 'Результат'
                                }
                            }) }}
                </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    var attachmentsCount = '{{ form.attachments|length }}';

    jQuery(document).ready(function() {
        jQuery('#add-another-file').click(function(e) {
            e.preventDefault();

            var attachmentsList = jQuery('#attachments-fields-list');

            var newWidget = attachmentsList.attr('data-prototype');
            newWidget = newWidget.replace(/__name__/g, attachmentsCount);
            attachmentsCount++;

            var newLi = jQuery('<li></li>').html(newWidget);
            newLi.appendTo(attachmentsList);
        });
    })
</script>
{% endblock %}
