{% extends 'base.html.twig' %}

{% block title %}Авторизация{% endblock %}

{% block body %}
<div class="container login-wrapper" style="min-height: 131px;padding-top: 18px;">
    <div class="row text-center">
        <div class="login-panel col-lg-6 col-md-6 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading" style="font-size: 18px; text-transform: uppercase;">
                    <i class="glyphicon glyphicon-user"></i>
                    Вход
                </div>
                <div class="panel-body">

                    {% if error %}
                    <div class="alert alert-danger">
                        {{ error.messageKey|trans([], 'messages') }}
                    </div>
                    {% endif %}

                    <form action="{{ path('login') }}" method="post">
                        <div class="form-group input-group">
                            <span class="input-group-addon">@</span>
                            <input type="text" class="form-control" placeholder="Логин" id="username" name="_username" value="{{ last_username }}"/>
                        </div>
                        <div class="form-group input-group" style="width: 100%;">
                            <input type="password" class="form-control" placeholder="Пароль" id="password" name="_password"/>
                        </div>
                        <p>ИЛИ</p>
                        <div class="form-group input-group" style="width: 100%;">
                            <input type="text" class="form-control" placeholder="Yubikey" id="_yubikey" name="yubikey"/>
                        </div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                        <input type="hidden" name="_target_path" value="/"/>
                        <input type="hidden" name="authenticate_action" value="1"/>
                        <button type="submit" class="btn btn-info">Войти</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
